<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.grouby.groupmapper">
	<insert id="insert" parameterType="group" useGeneratedKeys="true" keyProperty="groupId">
		insert
		into grouby_group (group_name, reg_id, reg_date, mod_date)
		values (#{groupName}, #{regId}, current_timestamp(), current_timestamp())
	</insert>

	<select id="selectByUserId" parameterType="string" resultType="group">
		select *
		from grouby_group
		where group_id in (select group_id from grouby_groupmember where user_id = #{value})
	</select>
	
	<update id="updateGroupName" parameterType="group">
		update grouby_group
		set group_name = #{groupName}
		where group_id = #{groupId}
	</update>
</mapper>